/* body {
    text-align: center; 
    display: flex;
    margin:0 200px 0 200px;
    flex-flow: column;
    font-size: 25px
}

p {
    background-color: rgba(131, 242, 250, 0.733);
    padding:40px;
}

button { 
    padding: 50px 0 50px 0;
}

.answer {
    background-color: brown;
} */