a.nav-link,
a:link {
  color: white;
  text-decoration: none;
}
a.nav-link,
a:visited {
  color: white;
  text-decoration: none;
}
a.nav-link,
a:hover {
  color: white;
  text-decoration: none;
  /* background-color: #314655 */
}
a.nav-link,
a:active {
  color: white;
  text-decoration: none;
}
